.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.modal {
  background: white;
  width: 100%;
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.modalText {
  color: var(--black);
  font-size: 1.125rem;
  letter-spacing: 0.4px;
}
.backBtnX {
  display: none;
}
.h1 {
  font-size: 1.5rem;
  letter-spacing: 0.4px;
  color: var(--black);
}
.locationContainer {
  grid-area: location;
  padding: 1em 0 1em 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.backBtn {
  background: none;
  display: flex;
  align-items: center;
  border: none;
  font-size: 1.25rem;
}
.backBtnChevron {
  transform: rotate(90deg);
}
.detailsSection {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0;
  max-width: 400px;
}
.h2 {
  font-size: 1.25rem;
  color: var(--black);
  letter-spacing: 0.4px;
}
.detailsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topForm {
  width: 100%;
  max-width: 400px;
}
.editBtn {
  background: none;
  border: none;
}
.input {
  width: 70%;
  letter-spacing: 0.5px;
}
.boldInput {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}
.submitBtn {
  background-color: var(--orange);
}
.cancelBtn {
  padding: 0;
  width: max-content;
  background: none;
  border: none;
  text-decoration: underline;
  margin-top: 0.5em;
}

@media screen and (min-width: 60rem) {
  .modalContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
  }
  .backBtn {
    position: absolute;
    top: 1em;
    right: 1em;
  }
  .backBtn span,
  .backBtnChevron {
    display: none;
  }
  .backBtnX {
    display: unset;
  }
  .modal {
    width: 70vw;
    max-width: 1400px;
    padding: 2em;
    max-height: 70vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* For IE and Edge */
    scrollbar-width: none; /* For Firefox */
    align-items:start;
  }
  .modal::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, Opera */
  }
  .modalHeader {
    width: max-content;
  }
  .detailsSection {
    width: 50%;
  }
}
