.employeeList {
  padding-top: 2em;
}
.ModalIsOpen {
  max-height: 70vh;
  overflow: hidden;
}
.employeeCard {
  border: none;
  background: none;
  display: block;
  width: 100%;
  display: grid;
  justify-content: start;
  align-items: center;
  border-radius: 0;
  border-bottom: 2px solid var(--orange);
  letter-spacing: 0.5px;
  height: 5rem;
  margin: 0;
  text-decoration: none;
  grid-template-columns: 4fr 1fr;
}
.employeeName {
  font-size: 1.125rem;
}
.column {
  text-align: start;
  padding: 0.5em;
}
.chevron {
  transform: rotate(-90deg);
  justify-self: end;
  align-self: center;
}
.col2,
.col3,
.col4,
.col5,
.col6,
.col7 {
  display: none;
}
.tableHeader {
  border-bottom: 4px solid var(--orange);
  display: none;
}
.bold {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--navBar);
}

@media screen and (min-width: 40rem) {
  .tableHeader {
    display: grid;
    height: unset;
    position: sticky;
    top: 0;
    padding-top: 2em;
    z-index: 2;
    background: white;
    grid-gap: 0.5em;
  }
  .employeeCard {
    grid-template-columns: 2fr 2fr 1fr;
  }
  .employeeName {
    font-size: 1rem;
  }
  .extraTitle {
    display: none;
  }
  .col3 {
    display: unset;
  }
}
@media screen and (min-width: 50rem) {
  .employeeCard {
    grid-template-columns: 2fr 2.5fr 2fr 1fr;
  }
  .col4 {
    display: unset;
  }
}

@media screen and (min-width: 60rem) {
  .ModalIsOpen {
    max-height: unset;
  }
  .employeeCard {
    grid-template-columns: 2fr 1.5fr 2.5fr 2fr 1fr;
  }
  .col2 {
    display: unset;
  }
}
@media screen and (min-width: 70rem) {
  .employeeCard {
    grid-template-columns: 2fr 1.5fr 2.5fr 2fr 2fr 1fr;
  }
  .col6 {
    display: unset;
  }
}
@media screen and (min-width: 80rem) {
  .employeeCard {
    grid-template-columns: 2fr 1fr 2.5fr 2fr 2fr 2fr 1.5fr;
  }
  .col5 {
    display: unset;
  }
  .col7 {
    display: flex;
    gap: 2em;
  }
  .chevron {
    display: none;
  }
}
