.headerInfo h1{
    padding-left: 1em;
}
.headerInfo > div > :not(h1){
    margin-top: 1em;
    margin-left: 1.5em;
}

/*Button Styles*/
.headerInfo > div > div > button {
    background-color: transparent;

    border: 1px solid black;
    border-radius: 4px;

    font-size: 20px;

    width: 150px;
}

.headerInfo > div:nth-child(2) > div:nth-child(1) > button.false {
    display: none;
}


/*Form Styles*/
.headerInfo form input, .headerInfo form button {
    border: none;
}
.headerInfo form input{
    width: 300px
    
}
.headerInfo form input:focus{
    outline: none;
}
.headerInfo form button{
    border-left: 1px solid black;
    background-color: transparent;
    text-align: center;
}

.headerInfo form {
    max-width: 350px;
    border: 1px solid black;
    border-radius: 4px;
}


/*Colors*/
.orange {
    background-color: #fda14c;
}
.blue {
    background-color: #5bc0eb;
}
.green {
    background-color: #9bc53d;
}
.pink {
    background-color: #ee66a0;
}

/*flex*/
.headerInfo {
    display: flex;
    flex-direction: column;
}
.headerInfo > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
.headerInfo > div:nth-child(2) > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    gap: 3em;
}
.headerInfo > div:nth-child(2) > div:nth-child(1) > button {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 0.5em 1em;
}
/*Media Queries*/
@media screen and (min-width: 60rem) {
    /*flex*/
    .headerInfo > div:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .headerInfo > div:nth-child(2) form {
        margin-top: 1em;
    }

    /*general*/
    .headerInfo .searchBar {
        margin-top: 1em;
        margin-right: 1em;
    }

    .orange {
        background-color: #fdfdfd;
    }
    .blue {
        background-color: #fdfdfd;
    }
    .green {
        background-color: #fdfdfd;
    }
    .pink {
        background-color: #fdfdfd;
    }
}