.headerInfo h1{
    padding-left: 1em;
}
.headerInfo > div > :not(h1){
    margin-top: 1em;
    margin-left: 1.5em;
}

/*Button Styles*/
.headerInfo > div > button {
    background-color: transparent;

    border: 1px solid black;
    border-radius: 4px;

    font-size: 20px;

    width: 150px;
}

.false {
    display: none;
}


/*Form Styles*/
.headerInfo form input, .headerInfo form button {
    border: none;
}
.headerInfo form input{
    width: 300px
    
}
.headerInfo form input:focus{
    outline: none;
}
.headerInfo form button{
    border-left: 1px solid black;
    background-color: transparent;
    text-align: center;
}

.headerInfo form {
    max-width: 350px;
    border: 1px solid black;
    border-radius: 4px;
}


/*Colors*/
.orange {
    background-color: #fda14c;
}
.blue {
    background-color: #5bc0eb;
}
.green {
    background-color: #9bc53d;
}
.pink {
    background-color: #ee66a0;
}



/*Media Queries*/
@media screen and (min-width: 60rem) {
    .headerInfo .searchBar {
        float: right;

        margin-top: -4em;
        margin-right: 1em;
    }

    .orange {
        background-color: #fdfdfd;
    }
    .blue {
        background-color: #fdfdfd;
    }
    .green {
        background-color: #fdfdfd;
    }
    .pink {
        background-color: #fdfdfd;
    }
}