section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
}

.logo{
    padding: 2.5em;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 0.8em;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

form > input {
    margin-bottom: 1em;
    padding: 0.3em 1em;
}

form > label {
    margin-bottom: 0.2em;
}

.checkboxContainer {
    margin-bottom: 7em;
}

button {
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 0.4em 0;
    margin-bottom: 0.5em;
}

.inactiveBtn {
    background-color: rgba(253, 231, 76, 0.2);
}

.activeBtn {
    background-color: var(--yellow);
}

.link {
    text-align: center;
}


@media screen and (min-width: 60rem) {
}